@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Kdam+Thmor+Pro&family=Open+Sans:ital,wght@1,300;1,600&family=Outfit:wght@400;700&family=Roboto:ital,wght@0,300;0,400;0,700;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    font-family: 'Kdam Thmor Pro', sans-serif; 
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30vh;
    background-image: linear-gradient(to right, #000000 0%, #434343  51%, #000000  100%);    
}

header img {
    height: 29vh;
}

body {
    background: #d8d0bb;
}

._carrossel-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    
}

._carrossel-container {        
    box-shadow: 10px 5px 20px rgb(3, 0, 16);
    overflow: hidden;
    width: 1200px;
    height: 400px;
}

._carrossel{
    display: flex;
    transition: transform 0.7s ease-in-out;
    transform: translateX(0);
}

._carrossel img {
    object-fit: cover;
    width: 1200px;
    height: 400px;
}

._container-introducao {
    width: 100%;
    height: 100vh;  
    display: flex; 
    align-items: center;
    justify-content: center;
}

._introducao {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 89%;
    height: 100vh;
    border: solid rgb(100, 91, 91);
    border-radius: 4px;    
    background-image: linear-gradient(315deg, #f6f6f6 0%, #e9e9e9 74%);
    padding: 20px;
}

._introducao-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

._introducao-title {
    padding-bottom: 30px;
}

._introducao-title h1 {
    font-size: 40px;    
}

._introducao-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;    
}

._trailer {
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}

._trailer video{  
    height: 70vh;
    border-radius: 4px;
}

._introducao-itens {
    width: 100%;
    height: 76vh;    
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column; 
    text-align: justify;    
    padding-bottom: 30px;
}
._introducao-itens p {
    padding: 4px;
}

._container-elenco {
    width: 100%;
    height: 380vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 25px;
}

._elenco-itens {
    display: flex;
    align-items: center;
    justify-content: center;
}

._elenco-box {
    width: 89%;
    height: 375vh;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: solid rgb(100, 91, 91);
    border-radius: 4px;
    background-image: linear-gradient(315deg, #f6f6f6 0%, #e9e9e9 74%);
    padding-bottom: 25px;
}

._text-elenco {
    box-sizing: border-box;
    padding-top: 20px;
}

._text-elenco h2, ._curiosidades-box h2 {
    font-size: 40px; 
}

._cards {
    display: flex;
    align-items: center;
    justify-content: space-around;    
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

._card-1 {
    width: 220px;
    height: 390px;
    background-image: linear-gradient(to right, #000000 0%, #434343  51%, #000000  100%);    
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    box-shadow: 10px 5px 20px rgb(3, 0, 16);
    padding: 10px;
    border: solid #c7c7c7;
}

._elenco-box img {
    width: 180px;
    height: 180px;
    border-radius: 6px;
    border: solid #434343;
}

._input-name, ._input-nascimento, ._sucessos {
    width: 180px;
    height: 20px;
    color: #d8d0bb;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #434343;
    border-radius: 4px;
}

._input-nascimento {
    font-size: 13px;
}

._sucessos {
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

._sucessos h4 {
    text-align: start;
    font-size: 15px;
    padding-top: 3px;
}

._sucessos span {
    text-align: justify;
    font-size: 12px;
}


._aeronaves-container img {
    width: 400px;
    height: 240px;
    border-radius: 4px;    
    border: solid rgba(5, 1, 42, 0.679); 
}

._aeronaves-container img:hover {
    border-color: rgb(244, 46, 46);
    transform: scale(1.2);
    transition: 0.7s;
    
}

._aeronaves-container p {
    padding-bottom: 10px;
}

._aeronaves-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;   
    padding-top: 25px;  
}

._package , ._curiosidades-box{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: solid rgb(100, 91, 91);
    flex-direction: column;
    width: 89%;
    border-radius: 4px;      
    background-image: linear-gradient(315deg, #f6f6f6 0%, #e9e9e9 74%); 
}

._package h2 {
    font-size: 40px;
    
}

._aeronaves-box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%; 
    height: 60vh;
}

._aeronaves-box h3 {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

._img-f-18 {
    padding-left: 15px;
}

._text-f-18 {
    padding-left: 50px;
    background-image: linear-gradient(to left, #ECE9E6 0%, #FFFFFF  51%, #ECE9E6  100%);
    text-align: center;
    width: 50%;
    height: 240px;
}

._text-f14 {
    background-image: linear-gradient(to right, #ECE9E6 0%, #FFFFFF  51%, #ECE9E6  100%);
    text-align: center;
    width: 50%;
    height: 240px;
}

._img-sukhoi {
    padding-left: 25px;
}

._text-sukhoi {
    background-image: linear-gradient(to left, #ECE9E6 0%, #FFFFFF  51%, #ECE9E6  100%);
    text-align: center;
    width: 50%;
    height: 240px;
}

._text-p51 {
    background-image: linear-gradient(to right, #ECE9E6 0%, #FFFFFF  51%, #ECE9E6  100%);
    text-align: center;
    width: 50%;
    height: 240px;
}

._img-darkStar{
    padding-left: 35px;
}

._text-darkStar {
    background-image: linear-gradient(to left, #ECE9E6 0%, #FFFFFF  51%, #ECE9E6  100%);
    text-align: center;
    width: 50%;
    padding-right: 100px;
    height: 240px;
}

._text-h2r {
    background-image: linear-gradient(to right, #ECE9E6 0%, #FFFFFF  51%, #ECE9E6  100%);
    text-align: center;
    width: 50%;
    height: 240px;
}

._img-gpz{
    padding-left: 40px;
}

._gpz-text {
    background-image: linear-gradient(to left, #ECE9E6 0%, #FFFFFF  51%, #ECE9E6  100%);
    text-align: center;
    width: 50%;
    height: 240px;
}

button {
    background-image: linear-gradient(to right, #000000 0%, #434343  51%, #000000  100%);    
    border-radius: 4px;
    color: #c7c7c7;
    width: 90px;
}

._f-18-extra, ._f-14-extra, ._sukhoi-extra, ._p51-extra, ._dark-extra, ._h2r-extra, ._gpz-extra {
    color: #4169E1;
    display: none;
}

._curiosidades-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300vh;
}
._curiosidades-box {
    padding-bottom: 90px;
    height: 277;
}

._curiosidade1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 50vh;
}

._curiosidades-title, ._curiosidades-title2 {
    width: 40%;
    height: 45vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

._curiosidades-title h3, ._curiosidade-title2 h3, ._curiosidade-title3 h3, ._curiosidade-title4 h3, ._curiosidade-title5 h3, ._curiosidade-title6 h3  {
    padding-bottom: 20px;
    padding-top: 60px;
}

._curiosidade1 img, ._curiosidade-title2 img, ._curiosidade-title3 img, ._curiosidade-title4 img, ._curiosidade-title5 img, ._curiosidade-title6 img  {
    width: 320px;
    border-radius: 4px;
    border: solid #4169E1;
}

._curiosidade1 img:hover, ._curiosidade-title2 img:hover, ._curiosidade-title3 img:hover, ._curiosidade-title4 img:hover, ._curiosidade-title5 img:hover, ._curiosidade-title6 img:hover {
    border-color: rgb(244, 46, 46);
    transform: scale(1.2);
    transition: 0.7s;    
}

._curiosidade1-text {
    width: 60%;
    height: 45vh;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
    padding-top: 70px;
    background-image: linear-gradient(to left, #ECE9E6 0%, #FFFFFF  51%, #ECE9E6  100%);
}

._curiosidade1-text p {
    text-align: start;
}

._curiosidade1-text li, ._curiosidade2-text p, ._curiosidade3-text p, ._curiosidade4-text p, ._curiosidade5-text p, ._curiosidade6-text p {
    padding: 10px;
}

._curiosidade6-text li {
    padding: 6px;
 }

._curuosidade2, ._curiosidade3, ._curiosidade4, ._curiosidade5, ._curiosidade6 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 43vh;
    padding-top: 60px;
    padding-bottom: 20px;
}

._curiosidade-title2, ._curiosidade-title3, ._curiosidade-title4, ._curiosidade-title5, ._curiosidade-title6 {
    width: 40%;
    text-align: center;
    padding-top: 20px;
}

._curiosidade2-text, ._curiosidade3-text, ._curiosidade4-text, ._curiosidade5-text, ._curiosidade6-text {
    width: 60%;
    background-image: linear-gradient(to left, #ECE9E6 0%, #FFFFFF  51%, #ECE9E6  100%);
    padding-top: 120px;
}

._curiosidade5-text {
    padding-top: 60px;
}



a {
    color: black;
}

._radio-topgun-container {
    width: 100%;
    height: 380vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 25px;
}

._radio-topgun-box {
    width: 89%;
    height: 375vh;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: solid rgb(100, 91, 91);
    border-radius: 4px;
    background-image: linear-gradient(315deg, #f6f6f6 0%, #e9e9e9 74%);
    padding-bottom: 25px;
}

._radio-topgun-box h2, ._radio-topgun-box p  {
    text-align: center;
}

._radio-topgun-box h2 {
    font-size: 40px;
    padding-bottom: 15px;
}

footer {    
    width: 100%;
    height: 30vh;
    background-image: linear-gradient(to right, #151515 0%, #434343  51%, #151515 100%);  
}

footer img {
    height: 22vh;
}

._footer-itens {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 30px;
}

._span {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #c7c7c7; 
    font-size: 20px;  
}

._span span {
    padding: 10px;
}
._span a {
    text-decoration: none;
    color: #c7c7c7;
}

._span a:hover, ._curiosidade4-text a:hover {
    color: #4169E1;
    transition: 1s;
}

@media screen and (max-width: 690px) {
    body {
        width: auto;
        height: auto;
    };

    .__introducao-box, ._introducao-text {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }
}

@media screen and (max-width: 414px) {
    body {
        width: auto;
        height: auto;
    };

    header {
        display: flex;
    }

    header img{        
        width: 300px ;
    }


    ._carrossel-wrap {
        display: none;
    }

    ._container-introducao{
        padding-top: 25px;  
    }

    ._container-introducao, ._introducao, ._introducao-box {
        height: 190vh;
    }

    ._trailer video {
        width: 300px;
    }

    ._introducao-title {
        align-items: center;
        text-align: center;
    }

    ._trailer {
        margin: 0;
        padding: 0;
    }

    ._introducao-itens {
        padding-bottom: 530px;
    }

    ._introducao-text {
        flex-direction: column;
    }

    ._container-elenco, ._elenco-box {
        height: 1000vh;
    }

    ._aeronaves-container, ._package {
        height: 500vh;
    }

    ._aeronaves-box {
        flex-direction: column;
        height: 100vh;
    }

    ._aeronaves-box img {
        width: 300px;
    }

    ._text-f-18, ._f-18-extra, ._text-f14, ._f-14-extra, ._text-sukhoi, ._sukhoi-extra, ._text-p51, ._p51-extra, ._text-darkStar, ._dark-extra, ._text-h2r, ._h2r-extra, ._gpz-text, ._gpz-extra {
        width: 300px;
        text-align: center;
    }

    ._text-f-18 p {
       padding-bottom: 20px;
    }

    ._text-darkStar p {
       width: 300px;
       align-items: center;
    }

    #reverse {
        display: flex;
        flex-direction: column-reverse;
    }

    #alinhamento{
        padding-right: 15px;
    }

    ._motos-titulo {
        padding-top: 100px;
        text-align: center;
    }

    button {
        display: none;
    }

    ._curiosidades-container {
        padding-top: 30px;
        padding-bottom: 25px;   
    }

    ._curiosidades-container, ._curiosidades-box {
        height: 500vh;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
    }

    ._curiosidades-title{
        height: 55vh;
    }

    ._curiosidades-title h3 {
        width: 300px;
        text-align: center;
    }

    ._curiosidades-box {
        justify-content: space-around;
    }

    ._title-curiosidades {
        padding-top: 20px;
    }

    ._curiosidade1, ._curiosidade2, ._curiosidade3, ._curiosidade4, ._curiosidade5, ._curiosidade6 {
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
    }
   
    ._curuosidade2 {
        flex-direction: column;
        padding-top: 160px;
    }

    ._curiosidade3 {
        padding-top: 160px;
    }

    ._curiosidade4 {
        padding-top: 250px; 
    }

    ._curiosidade5 {
        padding-top: 120px;
    }

    ._curiosidade-title2, ._curiosidade-title3, ._curiosidade-title4, ._curiosidade-title5, ._curiosidade-title6 {
        width: 320px;
    }

    ._curiosidade1-text, ._curiosidade6-text {
        width: 300px;
        padding-top: 130px;
        padding-left: 20px;

    }

    ._curiosidade2-text, ._curiosidade3-text, ._curiosidade4-text, ._curiosidade5-text {
        width: 300px;
        text-align: center;
    }

    footer {
        height: 150px;  
    }

    footer img {
        height: 50px;
        width: 50px;
    }

    footer span {
        font-size: 15px;
    }

}

@media screen and (max-width: 375px) {
    body {
        width: auto;
        height: auto;
    };

    header {
        display: flex;
    }

    header img{        
        width: 300px ;
    }


    ._carrossel-wrap {
        display: none;
    }

    ._container-introducao{
        padding-top: 25px;  
    }

    ._container-introducao, ._introducao, ._introducao-box {
        height: 250vh;
    }

    ._trailer video {
        width: 300px;
    }

    ._introducao-title {
        align-items: center;
        text-align: center;
    }

    ._trailer {
        margin: 0;
        padding: 0;
    }

    ._introducao-itens {
        padding-bottom: 530px;
    }

    ._introducao-text {
        flex-direction: column;
    }

    ._container-elenco, ._elenco-box {
        height: 1300vh;
    }

    ._aeronaves-container, ._package {
        height: 500vh;
    }

    ._aeronaves-container, ._package {
        height: 800vh;
    }

    ._aeronaves-box {
        flex-direction: column;
        height: 120vh;
    }

    ._aeronaves-box img {
        width: 300px;
    }

    ._text-f-18, ._f-18-extra, ._text-f14, ._f-14-extra, ._text-sukhoi, ._sukhoi-extra, ._text-p51, ._p51-extra, ._text-darkStar, ._dark-extra, ._text-h2r, ._h2r-extra, ._gpz-text, ._gpz-extra {
        width: 300px;
        text-align: center;
    }

    ._text-f-18 p {
       padding-bottom: 20px;
    }

    ._text-darkStar p {
       width: 300px;
       align-items: center;
    }

    #reverse {
        display: flex;
        flex-direction: column-reverse;
    }

    #alinhamento{
        padding-right: 15px;
    }

    ._motos-titulo {
        padding-top: 100px;
        text-align: center;
    }

    button {
        display: none;
    }

    ._curiosidades-container {
        padding-top: 30px;
        padding-bottom: 25px;   
    }

    ._curiosidades-container, ._curiosidades-box {
        height: 600vh;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
    }

    ._curiosidades-title{
        height: 55vh;
    }

    ._curiosidades-title h3 {
        width: 300px;
        text-align: center;
    }

    ._curiosidades-box {
        justify-content: space-around;
    }

    ._title-curiosidades {
        padding-top: 20px;
    }

    ._curiosidade1, ._curiosidade2, ._curiosidade3, ._curiosidade4, ._curiosidade5, ._curiosidade6 {
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
    }
   
    ._curuosidade2 {
        flex-direction: column;
        padding-top: 160px;
    }

    ._curiosidade3 {
        padding-top: 160px;
    }

    ._curiosidade4 {
        padding-top: 250px; 
    }

    ._curiosidade5 {
        padding-top: 120px;
    }

    ._curiosidade-title2, ._curiosidade-title3, ._curiosidade-title4, ._curiosidade-title5, ._curiosidade-title6 {
        width: 320px;
    }

    ._curiosidade1-text, ._curiosidade6-text {
        width: 300px;
        padding-top: 130px;
        padding-left: 20px;

    }

    ._curiosidade2-text, ._curiosidade3-text, ._curiosidade4-text, ._curiosidade5-text {
        width: 300px;
        text-align: center;
    }

    footer img {
        height: 50px;
        width: 50px;
    }

    footer span {
        font-size: 15px;
    }

}







